<nav class="navbar-expand-md navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Covid19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Paj akèy<span class="sr-only">(current)</span></a>
        </li>
         
          <li class="nav-item">
              <a class="nav-link" href="/index2">Kat<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Tablo<span class="sr-only">(current)</span></a>
          </li>

      </ul>

  </div>
</nav>