{% extends 'layout.html' %}
{% block body %}
 <!-- STATISTIC-->
 <section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">
                    <h2 class="number">8</h2>
                    <span class="desc">Moun ak covid-19</span>
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number">1</h2>
                    <span class="desc">Moun Ki ajoute jodia </span>
                    <div class="icon">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number">0</h2>
                    <span class="desc">Moun ki trete</span>
                    <div class="icon">
                        <i class="zmdi zmdi-calendar-note"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--red">
                    <h2 class="number">0</h2>
                    <span class="desc">Moun ki mouri</span>
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->
   <!-- STATISTIC CHART-->
   <section class="statistic statistic-chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">statistics</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <!-- CHART-->
                <div class="statistic-chart-1">
                    <h3 class="title-3 m-b-30">chart</h3>
                    <div class="chart-wrap">
                        <canvas id="widgetChart5"></canvas>
                    </div>
                    <div class="statistic-chart-1-note">
                        <span class="big">10,368</span>
                        <span>/ 16220 items sold</span>
                    </div>
                </div>
                <!-- END CHART-->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- TOP CAMPAIGN-->
                <div class="top-campaign">
                    <h3 class="title-3">top 5 depatman ki pi vilnerab</h3>
                    <div class="table-responsive">
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr>
                                    <td>1. Australia</td>
                                    <td>$70,261.65</td>
                                </tr>
                                <tr>
                                    <td>2. United Kingdom</td>
                                    <td>$46,399.22</td>
                                </tr>
                                <tr>
                                    <td>3. Turkey</td>
                                    <td>$35,364.90</td>
                                </tr>
                                <tr>
                                    <td>4. Germany</td>
                                    <td>$20,366.96</td>
                                </tr>
                                <tr>
                                    <td>5. France</td>
                                    <td>$10,366.96</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END TOP CAMPAIGN-->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- CHART PERCENT-->
                <div class="chart-percent-2">
                    <h3 class="title-3 m-b-30">chart by %</h3>
                    <div class="chart-wrap">
                        <canvas id="percent-chart2"></canvas>
                        <div id="chartjs-tooltip">
                            <table></table>
                        </div>
                    </div>
                    <div class="chart-info">
                        <div class="chart-note">
                            <span class="dot dot--blue"></span>
                            <span>products</span>
                        </div>
                        <div class="chart-note">
                            <span class="dot dot--red"></span>
                            <span>Services</span>
                        </div>
                    </div>
                </div>
                <!-- END CHART PERCENT-->
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC CHART-->
 <!-- DATA TABLE-->
 <section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">data table</h3>
                
                <div class="table-responsive table-responsive-data2 ">
                    <table class="table table-data2">
                        <thead>
                            <tr class=" top-campaign">
                               
                                <th>Depatman</th>
                                <th>Popilasyon</th>
                                <th>Lotiptal</th>
                                <th>Lopital a feb kapisite</th>
                                <th>Lopital Kominotè Referans</th>
                                <th>Dansite (lopital/popilasyon)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-shadow">
                                
                                <td>Lori Lynch</td>
                                <td>
                                    <span class="block-email">lori@example.com</span>
                                </td>
                                <td class="desc">Samsung S8 Black</td>
                                <td>2018-09-27 02:12</td>
                                <td>
                                    <span class="status--process">Processed</span>
                                </td>
                                <td>$679.00</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
{% endblock %}