<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"
        integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

</head>


<body class="docs-page">
    {% include 'include/navbar.html' %}
    <div class="container">
        <article class="docs-article" id="section-1">

            <h1 class="docs-heading">Entansyon</h1>
            <section class="docs-intro">
                <p>Zouti sa egziste se pou bay bon jan enfèmasyon fyab sou zafè laswenyaj nan peyi Ayiti, li baze
                    espesyalman sou kantite ak distribisyon resous sèvis la sante nan peyi a. Done a kapab divize pa
                    tip, distri avek kote done a disponib, faktè ekonomik ki pètinan! </p>
                <p>
                    Zouti sistèm sante a pèmèt bay bon jan lenfòmasyon sou:
                </p>
                <ul>
                    <li>Dansite/gwosè enstalayon yo</li>
                    <li>Dansite kabann lopital yo</li>
                    <li>Dansite kabann lopital yo</li>
                    <li>Disponiblite resous yo</li>

                </ul>
            </section>

        </article>
        <article class="docs-article" id="section-1">

            <h1 class="docs-heading">Definisyon</h1>
            <section class="docs-intro">

                <p>
                    Wap jwenn tout enstalasyon tankou prive, non gouvènmantal ak enstalasyon ki baze sou kominote anndan
                    enstalasyon lasante a kote yo bay sèvis swen jeneral. Wap jwenn nan enstalasyon yo: lopital,
                    dispansè ak sant sante, tout enstalasyon sektè fòmèl ki bay premye swen avèk sevis lopital.
                </p>

            </section>

        </article>
        <article class="docs-article" id="section-1">

            <h1 class="docs-heading">Sous done yo</h1>
            <section class="docs-intro">

                <p>
                    Done enstalasyon yo repòte nan resansman ane 2017-18 SPA ki se Service Provision Assessment an'n
                    Ayiti, yon resansman nasyonal sou enstalasyon la sante devlope pa USAID e ki reyalize nan patenarya
                    ak enstiti ayisyen pou timoun IHE, ministè sante piblik MSPP. Done sosyo-ekonomik ak demografik yo
                    soti nan resansman sou la sante nan ane 2016/17(Ankèt mòtalitè, mòbidite ak itilizasyon sèvis
                    (EMMUS-VI)). Done sou popilasyon an soti nan resansman ki pi resan ak pwojeksyon sou popilasyon ke
                    enstiti estatistik ayisyen te fè (IHSI). </p>

            </section>

        </article>



        <footer class="footer">
            <div class="container text-center py-5">
                <small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/"
                        target="_blank">3rd Wave Media</a></small>
                <ul class="social-list list-unstyled pt-4 mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
                </ul>
                <!--//social-list-->
            </div>
        </footer>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>