<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"
        integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
</head>
 <style>
    html,
    body {
        padding: 0;
        margin: 0;
        font-family:'Poppins', sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    }
 </style>

<body class="docs-page">
    {% include 'include/navbar.html' %}
    <div>
       
        <img src="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.css') }}" alt="">
    </div>
    <div class="container-fluid">
        <br />
        <div class="row col-12">
            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item"><a class="nav-link scrollto active" href="#section-1">
                            <h5>Entansyon</h5>
                        </a>
                    </li>
                    <li class="list-group-item"><a class="nav-link scrollto active" href="#section-2">
                            <h5>Definisyon sant ki bay laswenyaj yo</h5>
                        </a>
                    </li>
                    <li class="list-group-item"><a class="nav-link scrollto active" href="#section-3">
                            <h5>Sous done yo</h5>
                        </a>
                    </li>
                    <li class="list-group-item"><a class="nav-link scrollto active" href="#section-4">
                            <h5>Referans</h5>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
                <article class="docs-article" id="section-1">

                    <h1 class="docs-heading">Entansyon</h1>
                    <section class="docs-intro">
                        </p> <a href="https://www.ayitianalytics.org/"><h5 style="display:inline">Ayiti Analytics</h5> </a> devlope <a
                            href="/index2">Zouti sila<a /> nan objektif pou jwenn bon jan enfòmasyon sou sèvis
                            laswenyaj. Li pèmèt nou konnen konbyen sant sante kap bay popilasyon an sèvis laswenyaj nan
                            tout komin ak depatman nan peyi Ayiti. Li mete aklè tout resous laswenyaj ou ka jwenn nan
                            tout komin ak depatman peyi a.<a href="/index2"> Li <a /> fè sòti konbyen sant sante ou ka
                                jwenn pa komin ou pa depatman
                                ak tout lòt rezous ki mache avèk domenn laswenyaj ak faktè ekonomik ki pètinan ki
                                eksplike infòmasyon sila.
                                </p>
                                <p>
                                    <a href="/index2">Zouti sila<a> pèmèt jou jwenn
                                </p>
                                <ul>
                                    <li>Gwosè ak kantite sant sante ki genyen pou popilasyon pa komin ak depatman</li>
                                    <li>Kantite kabann lopital ki genyen pou popilasyon pa komin ak depatman</li>
                                    <li>Pwofesyonèl sante ki genyen pou popilasyon pa komin ak depatman</li>
                                    <li>Resous ak jefò laswenyaj ki disponib pou popilasyon pa komin ak depatman </li>

                                </ul>
                    </section>

                </article>
                <article class="docs-article" id="section-1">

                    <h1 class="docs-heading">Definisyon sant ki bay laswanyaj yo</h1>
                    <section class="docs-intro">

                        <p>
                            Sant sante ki bay laswenyaj yo divize an the pilye
                            <ol>
                                <li>

                                    <p> Sant sante pa kategori sila yo</p>
                                    <ul>
                                        <li>Sant sante avèk kabann</li>
                                        <li>Sant sante san kabann</li>
                                        <li>Lopital</li>
                                        <li>Dispansè</li>
                                    </ul>

                                </li>
                                <li>

                                    <p>Sant sante pa tip sila yo</p>
                                    <ul>
                                        <li>Sant sante prive</li>
                                        <li>Sant sante leta</li>
                                        <li>Sant sant mixte (prive + leta)</li>
                                        <li>Sant sante ONG yo</li>
                                    </ul>

                                </li>

                            </ol>

                        </p>
                        <p>
                            Avèk tout infòmasyon sila yo nou kakile kijan sant sante sila yo epapiye e konbyen moun sant
                            yo desèvi nan komin oubyen depatman yo
                            tankou:
                            <ul>
                                <li>Kantite sant sante pou 10 000 moun nan lokalite yo</li>
                                <li>Kantite kabann pou 10 000 moun nan lokalite yo</li>
                                <li>Kantite pwofesyonel sante pou 10 000 moun nan lokalite yo</li>
                            </ul>

                        </p>

                    </section>

                </article>
                <article class="docs-article" id="section-3">

                    <h1 class="docs-heading">Sous done yo</h1>
                    <section class="docs-intro">

                        <p>
                            Sous done sa yo repòte nan resansman nan ane 2017-18 SPA ki se Service Provision Assessment
                            an'n Ayiti, yon resansman nasyonal sou enstalasyon la sante devlope pa USAID e ki reyalize
                            nan
                            patenarya ak enstiti ayisyen pou timoun IHE, Ministè Sante Piblik ak Popilas MSPP. Done
                            sosyo-ekonomik ak
                            demografik yo soti nan resansman sou la sante nan ane 2016/17(Ankèt mòtalitè, mòbidite ak
                            itilizasyon
                            sèvis (EMMUS-VI)). Done sou popilasyon an soti nan resansman ki pi resan ak pwojeksyon sou
                            popilasyon ke enstiti estatistik ayisyen te fè (IHSI).
                        </p>

                    </section>

                </article>
                <article class="docs-article" id="section-4">

                    <h1 class="docs-heading">Referans</h1>
                    <section class="docs-intro">

                        <p>


                            Institut Haïtien de l’Enfance IHE and ICF. 2019. Évaluation de la Prestation des Services de
                            Soins de Santé, Haïti, 2017-2018.<a href="https://dhsprogram.com/publications/publication-SPA29-SPA-Final-Reports.cfm">(Link)</a>

                            Institut Haïtien de l’Enfance IHE and ICF. 2018. Enquête Mortalité, Morbidité et Utilisation
                            des Services - EMMUS-VI 2016-2017. <a href="https://dhsprogram.com/publications/publication-FR326-DHS-Final-Reports.cfm">(Link)</a>

                            Institut Haïtien de Statistique et d’Informatique (IHSI). Projections de la population
                            Haitienne 2018.  <a href="http://www.rgph-haiti.ht/">(Link)</a>

                        </p>

                    </section>

                </article>

            </div>
        </div>
        {% include 'include/footer.html' %}
    </div>




    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>