<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19 Vulnerability map</title>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"
        integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js" crossorigin="anonymous"></script>

    <script src=" {{ url_for('static', filename='bootstrap/dist/css/bootstrap.css') }}"></script>
    <script src=" {{ url_for('static', filename='jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet/dist/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->

    <script defer src="{{ url_for('static', filename='assets/fontawesome/js/all.min.js') }}"></script>
  

    <!-- Theme CSS -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .legend span,
        .legend label {
            display: block;
            width: 40px;
            height: 20px;
            float: left;
            opacity: 0.7;
            text-align: center;
            font-size: 60%
        }

        /*Setup*/
        @media only screen and (max-width: 768px) {
            .legend i {
                width: 10px;
                height: 10px;
                float: left;
                margin: 0 8px 0 0;
                opacity: 0.7;
                font-size: 8px;
            }
        }

        html,
        body {
            padding: 0;
            margin: 0;
            font-family: 'Poppins', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        html,
        body,
        #map {
            height: 100%;
            width: 100%;
        }





        .legend span {
            position: relative;
            bottom: 3px;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin: 0 8px 0 0;
            opacity: 0.7;
        }

        .legend i.icon {
            background-size: 18px;
            background-color: rgba(255, 255, 255, 1);
        }
    </style>
</head>

<body>
    {% include 'include/navbar.html' %}

    <div class="container-fluid  m-t-5">

        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-12" style="margin-top:5px">
                        <div class="card">
                            <div class="card-body">

                                <h3 style="color:teal; font-size:36px bold;margin:auto; text-align:center; font-weight:bold"
                                    id="all_sites">
                                    Kantite sant sante </h3>
                                <h1
                                    style="color:teal; font-size:46px bold;margin:auto; text-align:center; font-weight:bold">
                                    {{gdf2.Total_sites.sum().astype('int')}}</h1>

                            </div>
                        </div>
                    </div>
                    <br />

                </div>
                <br />
                <form action="{{ url_for('index2') }}" method="post" style="font-size: 12px;">
                    <div class="form-group">

                        <select class="form-control" id="division" name="division">

                            <option value='departement'>Depatman</option>
                            <option value='commune'>Komin</option>

                        </select>
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="etablissement" name="etablissement">

                            <option value='all'>Tout sant sante yo</option>
                            <option value="hosp"> Lopital </option>
                            <option value="cal"> Sant sante avek kabann </option>
                            <option value="csl"> Sant sante san kabann </option>
                            <option value="disp"> Dispansè </option>

                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary" id="button_1_text">Lanse</button>
                </form>
                <br />
                <div class="row m-t-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <h5 class="card-title" style="font-size: 14px;" id="table_tilte">Tablo dansite sant sante pou 10
                            000 moun</h5>
                        <hr />
                        <table class="table table-striped table-dark col-12" style="font-size: 12px;text-align:right">
                            <thead>
                                <tr>
                                    <th scope="col" id="departement">Depatman</th>
                                    <th scope="col" id="health_fac">Sant sante</th>
                                    <th scope="col" id="population">Popilasyon</th>
                                    <th scope="col" id="density">Sant sante pou 10,000 moun</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for _,row in gdf2.iterrows()  %}
                                <tr>
                                    <th scope="row">{{row['ADM1_FR']}}</th>
                                    <td>{{row['Total_sites']}}</td>
                                    <td>{{row['IHSI_UNFPA']}}</td>
                                    <td>{{row['health_density']}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>

                    </div>
                    <br />



                </div>




            </div>
            <div class="col-lg-8 col-md-12 col-sm-12" style="margin-top:2px;">

                <div>
                    <button id="ressetbutton" class="btn btn-primary" style="float: right; font-size:75%">Relanse
                        kat la</button>
                </div>
                <div>
                    <h5 style="font-size: 16px;font-weight:bold; margin-top:5px" id="legend_title">Distribisyon sant
                        sante pa {{title}}</h5>
                </div>
                <div class="info legend" id="myinfo">

                </div>
                <div id="map" style="height: 90vh;">

                </div>

            </div>
        </div>


    </div>
    {% include 'include/footer.html' %}
    <script>



        let lang_ =localStorage.getItem('lang') === null? 'kr':localStorage.getItem('lang')
        let translator = null
        let translation = $('#translation')
        translation.val(lang_)
        $.get('/language/' + translation.val())
            .done(
                reponse => {
                    translator = JSON.parse(reponse)
                    translate()
                }
            );
        translation.change(function () {
            $.get('/language/' + translation.val())
                .done(
                    reponse => {
                        translator = JSON.parse(reponse)
                        translate()

                    }
                );
        }
        )

        let division = '{{division}}'
        let etablissement = '{{etablissement}}';
        let tool = '{{tool_tips|tojson}}'
        let pal = '{{palette|tojson}}'
        let win = $(window)

        console.log(pal)
        let palette = jQuery.parseJSON(pal)
        toolTips = jQuery.parseJSON(tool)


        div = $("#myinfo")[0]

        grades = palette.values,
            labels = [];

        // loop through our density intervals and generate a label with a colored square for each interval
        // first loop for colored legend boxes
        for (var i = 0; i < grades.length; i++) {
            div.innerHTML +=
                '<span style="background:' + palette.color[i] + '"></span> ';
        }

        // a line break
        div.innerHTML += '<br>';

        // second loop for text
        for (var i = 0; i < grades.length; i++) {
            div.innerHTML +=
                '<label>' + grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] : '+') + '</label>';
        }




        $('#division').val(division)
        $('#etablissement').val(etablissement)
        var mapboxAccessToken = 'pk.eyJ1IjoibWFydmVsYW1hem9uMTIiLCJhIjoiY2s4b2lzbmV0MTlpNzNqbzJtdW1lcTBscCJ9.2USdsYTBodn8NXSqr2Ljlw';
        let coords = [18.99997, -72.985215];
        var map = L.map('map').setView(coords, 8.5);
        let geojson;


        if (win.width() <= 768) {
            map.setView(coords, 7.5)
        }
        else {
            map.setView(coords, 8.5)
        }


        $('#ressetbutton').click(function () {
            console.log('hello world ...!')

            var win = $(window)
            if (win.width() <= 768) {
                map.setView(coords, 7.5)
            }
            else {
                map.setView(coords, 8.5)
            }
        })

        $(window).on('resize', function () {
            var win = $(this); //this = window
            if (win.width() <= 768) {
                map.setView(coords, 7.5)
            }
            else {
                map.setView(coords, 8.5)
            }
        });


        info = new L.Control({ position: 'bottomright' });

        info.onAdd = function () {
            this._div = L.DomUtil.create("div", "info");
            this.update();
            return this._div;
        };

        info.update = function (props) {
        };

        function style(feature) {
            return {
                fillColor: feature.properties.color,
                weight: 1,
                opacity: 1,
                color: 'white',
                dashArray: '1',
                fillOpacity: 0.7
            };
        }

        info.addTo(map);

        function resetHighlight(e) {
            geojson.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            map.fitBounds(e.target.getBounds());
        }

        function highlightFeature(e) {
            const layer = e.target;

            layer.setStyle({
                weight: 5,
                color: "#666",
                dashArray: "",
                fillOpacity: 0.4
            });

            if (!L.Browser.ie && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
        }
        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,

            });
        }

        map.on('click', function () {
            if (map.scrollWheelZoom.enabled()) {
                map.scrollWheelZoom.disable();
            }
            else {
                map.scrollWheelZoom.enable();
            }
        });
        

        $.get('/api/v1/' + division + '/' + etablissement)
            .done(response => {

                data = jQuery.parseJSON(response);
                geojson = L.geoJson(data, {
                    style: style,
                    onEachFeature: onEachFeature
                }).addTo(map);
                geojson.bindTooltip(
                    function (layer) {
                        // Convert non-primitive to String.
                        let handleObject = (feature) => typeof (feature) == 'object' ? JSON.stringify(feature) : feature;
                        let fields = toolTips.columns
                        let aliases = toolTips.displays
                        return '<table style="background-color: white; color: #333333; font-family: arial; font-size: 10px; padding: 5px;">' +
                            String(
                                fields.map(
                                    columnname =>
                                        `<tr style="text-align: left;">
                            <th style="padding: 4px; padding-right: 10px;"> 
                                ${aliases[fields.indexOf(columnname)]
                                        }
                                                         
                            
                                    </th>
                    
                                    <td style="padding: 4px;"> ${handleObject(layer.feature.properties[columnname])
                                        }</th></tr>`
                                ).join(''))
                            + '</table>'
                    }, { "sticky": true }
                );


            });




        function translate() {
            if (translation.val() === 'en') {
                localStorage.setItem('lang', 'en')
                // navbar translation
                let site_name = $('#site_name')[0];
                site_name.innerHTML = translator.en.site_name;
                let home = $('#home')[0];
                home.innerHTML = translator.en.home;
                let map_title = $('#map_title')[0];
                map_title.innerHTML = translator.en.map;
                let dashboard = $('#dashboard')[0];
                dashboard.innerHTML = translator.en.dashboard
                let all_sites = $("#all_sites")[0]
                all_sites.innerHTML = translator.en.all_sites

                $('#division option[value="departement"]').text(translator.en.departement)
                $('#division option[value="commune"]').text(translator.en.commune)


                $('#etablissement option[value="all"]').text(translator.en.total_site)
                $('#etablissement option[value="hosp"]').text(translator.en.hospital)
                $('#etablissement option[value="cal"]').text(translator.en.fac_with_bed)
                $('#etablissement option[value="csl"]').text(translator.en.fac_without_bed)
                $('#etablissement option[value="disp"]').text(translator.en.dispensary)
                $('#button_1_text').text(translator.en.button_1_text)


                let table_tilte = $("#table_tilte")[0]
                table_tilte.innerHTML = translator.en.table_tilte

                let departement = $("#departement")[0]
                departement.innerHTML = translator.en.departement

                let health_fac = $("#health_fac")[0]
                health_fac.innerHTML = translator.en.health_fac

                let population = $("#population")[0]
                population.innerHTML = translator.en.population

                let density = $("#density")[0]
                density.innerHTML = translator.en.density

                $('#ressetbutton').text(translator.en.ressetbutton)


                let legend_title = $("#legend_title")[0]
                legend_title.innerHTML = division === 'departement'? translator.en.legend_title+ " "+"departement": translator.en.legend_title+ " "+"commune"

                let right = $('#right')[0];
                right.innerHTML = translator.en.right + " &copy;";
                toolTips.displays =  []
                if (division === 'departement'){
                    toolTips.displays.push(translator.en.dept)

                } else{
                    toolTips.displays.push(translator.en.dept)
                    toolTips.displays.push(translator.en.com)
                }

               switch(etablissement){
                   case 'all':  toolTips.displays.push(translator.en.dispensary);
                                toolTips.displays.push(translator.en.hospital);
                                toolTips.displays.push(translator.en.fac_with_bed);
                                toolTips.displays.push(translator.en.fac_without_bed);break;

                   case 'hosp':  toolTips.displays.push(translator.en.hospital);break;
                   case 'cal':  toolTips.displays.push(translator.en.fac_with_bed);break
                   case 'disp':  toolTips.displays.push(translator.en.dispensary);break;
                   case 'csl':  toolTips.displays.push(translator.en.fac_without_bed);break;
                  
                   
               }
               toolTips.displays.push(translator.en.total_site)
            } else {

                localStorage.setItem('lang', 'kr')
                let site_name = $('#site_name')[0];
                site_name.innerHTML = translator.kr.site_name;
                let home = $('#home')[0];
                home.innerHTML = translator.kr.home;
                let map_title = $('#map_title')[0];
                map_title.innerHTML = translator.kr.map;
                let dashboard = $('#dashboard')[0];
                dashboard.innerHTML = translator.kr.dashboard

                let all_sites = $("#all_sites")[0]
                all_sites.innerHTML = translator.kr.all_sites

                $('#division option[value="departement"]').text(translator.kr.departement)
                $('#division option[value="commune"]').text(translator.kr.commune)


                $('#etablissement option[value="all"]').text(translator.kr.all_sites)
                $('#etablissement option[value="hosp"]').text(translator.kr.hospital)
                $('#etablissement option[value="cal"]').text(translator.kr.fac_with_bed)
                $('#etablissement option[value="csl"]').text(translator.kr.fac_without_bed)
                $('#etablissement option[value="disp"]').text(translator.kr.dispensary)
                $('#button_1_text').text(translator.kr.button_1_text)


                let table_tilte = $("#table_tilte")[0]
                table_tilte.innerHTML = translator.kr.table_tilte

                let departement = $("#departement")[0]
                departement.innerHTML = translator.kr.departement

                let health_fac = $("#health_fac")[0]
                health_fac.innerHTML = translator.kr.health_fac

                let population = $("#population")[0]
                population.innerHTML = translator.kr.table_tilte

                let density = $("#density")[0]
                density.innerHTML = translator.kr.density

                $('#ressetbutton').text(translator.kr.ressetbutton)


                let legend_title = $("#legend_title")[0]
                legend_title.innerHTML = translator.kr.legend_title + " "+  '{{title}}'

                let right = $('#right')[0];
                right.innerHTML = translator.kr.right + " &copy;";

               
                toolTips.displays =  []
                if (division === 'departement'){
                    toolTips.displays.push(translator.kr.dept)

                } else{
                    toolTips.displays.push(translator.kr.dept)
                    toolTips.displays.push(translator.kr.com)
                }

               switch(etablissement){
                   case 'all':  toolTips.displays.push(translator.kr.dispensary);
                                toolTips.displays.push(translator.kr.hospital);
                                toolTips.displays.push(translator.kr.fac_with_bed);
                                toolTips.displays.push(translator.kr.fac_without_bed);break;

                   case 'hosp':  toolTips.displays.push(translator.kr.hospital);break;
                   case 'cal':  toolTips.displays.push(translator.kr.fac_with_bed);break
                   case 'disp':  toolTips.displays.push(translator.kr.dispensary);break;
                   case 'csl':  toolTips.displays.push(translator.kr.fac_without_bed);break;
                  
                   
               }
               toolTips.displays.push(translator.kr.total_site)
            }
        }








    </script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>